<div class='fd-container login-container'>
  <div class='fd-row login-content'>
    <div class='fd-col--4'>
      <div class='fd-col--12 fd-margin-bottom--sm'>
        <h2 class="fd-title fd-title--h2">Login</h2>
      </div>
      <div [formGroup]="formLogin">
        <div class='fd-col--12'>
          <div class="fd-form-item">
            <label class="fd-form-label" for="input-1">Email:</label>
            <div class="fd-popover">
              <div class="fd-popover__control" aria-controls="popoverEmail" aria-expanded="true" aria-haspopup="true">
                <input class="fd-input" type="text" id="input-1" formControlName="email">
              </div>
              <div class="fd-popover__body fd-popover__body--input-message-group fd-popover__body--no-arrow"
                [attr.aria-hidden]="arrError.email == ''" id="popoverEmail">
                <div class="fd-form-message fd-form-message--warning">{{ arrError.email }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class='fd-col--12'>
          <div class="fd-form-item">
            <label class="fd-form-label" for="input-1">Password:</label>
            <div class="fd-popover">
              <div class="fd-popover__control" aria-controls="popoverPass" aria-expanded="true" aria-haspopup="true">
                <div class="fd-input-group">
                  <input class="fd-input" [type]="isPassword ? 'password': 'text'" id="input-1" formControlName="password">
                  @if (passwordVisible) {
                    <span class="fd-input-group__addon fd-input-group__addon--button">
                      <button class="fd-input-group__button fd-button fd-button--transparent"
                        (click)="isPassword = !isPassword">
                        <span class="sap-icon--hide" role="presentation"></span>
                      </button>
                    </span>
                  }
                </div>
              </div>
              <div class="fd-popover__body fd-popover__body--input-message-group fd-popover__body--no-arrow"
                [attr.aria-hidden]="arrError.password == ''" id="popoverPass">
                <div class="fd-form-message fd-form-message--warning">{{ arrError.password }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='fd-col--12 fd-margin-top--sm'>
        <button class="fd-button" (click)="onSubmit()">
          <span class="fd-button__text">Submit</span>
        </button>
        <span class="fd-margin-begin-end--tiny">OR</span>
        <a routerLink="/register" class="fd-link">
          <span class="fd-link__content">Register ?</span>
        </a>
      </div>
    </div>
  </div>
</div>
