<div class='fd-container login-container'>
  <div class='fd-row login-content'>
    <div class='fd-col--10 fd-col-lg--4 fd-col-xl--2'>
      <div class='fd-col--12 fd-margin-bottom--lg'>
        <h2 class="fd-title fd-title--h2">Login</h2>
      </div>
      
      <div [formGroup]="formLogin">
        <div class='fd-col--12 fd-margin-bottom--tiny'>
          <div class="fd-form-item">
            <div class="fd-input-group">
              <input class="fd-input" type="email" id="email" 
                formControlName="email" placeholder="Email">
            </div>
          </div>
        </div>
        <div class='fd-col--12 fd-margin-bottom--tiny'>
          <div class="fd-form-item">
            <div class="fd-input-group">
              <input class="fd-input" [type]="isPassword ? 'password': 'text'" id="password" 
                formControlName="password" placeholder="Password">
              @if (passwordVisible) {
                <span class="fd-input-group__addon fd-input-group__addon--button">
                  <button class="fd-input-group__button fd-button fd-button--transparent" (click)="isPassword = !isPassword">
                    <span [class]="isPassword ? 'sap-icon--show' : 'sap-icon--hide'" role="presentation"></span>
                  </button>
                </span>
              }
            </div>
          </div>
        </div>
      </div>

      <div class='fd-col--12 fd-margin-top-bottom--md'>
        @if (arrError.email != '') {
          <ng-container [ngTemplateOutlet]="errorTemp" [ngTemplateOutletContext]="{ $implicit:arrError.email }"></ng-container>
        }
        @if (arrError.password != '') {
          <ng-container [ngTemplateOutlet]="errorTemp" [ngTemplateOutletContext]="{ $implicit:arrError.password }"></ng-container>
        }
      </div>

      <div class='fd-col--12 fd-margin-bottom--tiny'>
        <button class="fd-button fd-button--emphasized" style="width: 100%;" (click)="onSubmit()">
          <span class="fd-button__text">Signin</span>
        </button>
      </div>

      <div class='fd-col--12'>
        <button class="fd-button" style="width: 100%;" routerLink="/register">
          <span class="fd-button__text">Register ?</span>
        </button>
      </div>
      
    </div>
  </div>
</div>


<ng-template #errorTemp let-data>
  <div class='fd-col--12 fd-margin-top-bottom--tiny'>
    <div class="fd-message-strip fd-message-strip--error fd-message-strip--no-icon" role="note">
      <p class="fd-message-strip__text">{{ data }}</p>
    </div>
  </div>
</ng-template>