<div class="fd-icon-tab-bar fd-icon-tab-bar--navigation fd-icon-tab-bar--navigation-flat fd-icon-tab-bar--xl">
  <ul role="tablist" class="fd-icon-tab-bar__header">
    <li role="presentation" class="fd-icon-tab-bar__item">
      <a role="tab" class="fd-icon-tab-bar__tab" aria-selected="true">
        <span class="fd-icon-tab-bar__tag">Home</span>
      </a>
    </li>
    <li role="presentation" class="fd-icon-tab-bar__item">
      <a role="tab" class="fd-icon-tab-bar__tab" aria-selected="false">
        <span class="fd-icon-tab-bar__tag">User</span>
      </a>
    </li>
  </ul>
</div>

<section role="tabpanel" class="fd-icon-tab-bar__panel">
  <div class="fd-custom-container">
    <div fd-scrollbar class="fd-padding fd-padding-begin-end--lg">
      <div id="home" class="fd-margin-bottom--lg">
        <h2 class="fd-margin-top-bottom--sm">Quick Access</h2>
        <h3 class="fd-margin-top-bottom--sm">Monitoring</h3>
        
        <div class="fd-custom-content">
          
          <div role="button" tabindex="0" class="fd-tile fd-tile--launch"
            routerLink="/data-base">
            <div class="fd-tile__header-content">
              <div class="fd-tile__title">Data Base</div>
              <div class="fd-tile__subtitle">Subtitle</div>
            </div>
            <div class="fd-tile__footer fd-tile__footer--2-col">
              <div class="fd-tile__section">
                <i class="fd-tile__refresh sap-icon--refresh" aria-label="Refresh"></i>
                <span class="fd-tile__footer-text">Now</span>
              </div>
              <div class="fd-tile__section"><span class="fd-tile__footer-text">Footer</span></div>
            </div>
          </div>
      
          <div role="button" tabindex="0" class="fd-tile fd-tile--launch"
            routerLink="/job-schedule">
            <div class="fd-tile__header-content">
              <div class="fd-tile__title">Job Schedule</div>
              <div class="fd-tile__subtitle">Subtitle</div>
            </div>
            <div class="fd-tile__footer fd-tile__footer--2-col">
              <div class="fd-tile__section">
                <i class="fd-tile__refresh sap-icon--refresh" aria-label="Refresh"></i>
                <span class="fd-tile__footer-text">Now</span>
              </div>
              <div class="fd-tile__section"><span class="fd-tile__footer-text">Footer</span></div>
            </div>
          </div>
      
        </div>
      </div>
    </div>
  </div>
</section>