<!-- <div class="fd-flexible-column-layout">
  <div class="fd-flexible-column-layout__column" [style.width.%]="sideWidth">
    <ng-container [ngTemplateOutlet]="mainPage"></ng-container>
  </div>
  @if (isSidepage) {
    <div class="fd-flexible-column-layout__column" [style.width.%]="mainWidth">
      <ng-container [ngTemplateOutlet]="sidePage"></ng-container>  
    </div>
  }
</div> -->

<div class="fd-dynamic-side" [class]="mobileMode ? 'fd-dynamic-side--below' : 'fd-dynamic-side--equal-split'">
  <div class="fd-dynamic-side__main">
    <ng-container [ngTemplateOutlet]="mainPage"></ng-container>
  </div>
  @if (isSidepage) {
    <div class="fd-dynamic-side__side">
      <ng-container [ngTemplateOutlet]="sidePage"></ng-container>  
    </div>
  }
</div>

<ng-template #mainPage>
  <div class="side-container">
    <div class="content-sticky fd-margin-begin-end--sm" style="background-color: white;">
      <div class="fd-container fd-form-layout-grid-container">
        <div class="fd-row">
          <div class="fd-col fd-col-lg--12 fd-col--wrap fd-form-group">
            <div class="fd-row fd-form-item">
              <div class="fd-col-md--12 fd-margin-bottom--sm">
                <h2 class="fd-title fd-title--h2">Database</h2>
              </div>
              <div class="fd-col fd-col-lg--6">
                <div class="fd-row fd-form-item">
                  <div class="fd-col fd-col--12">
                    <label class="fd-form-label" for="input-2-country">User:</label>
                  </div>
                  <div class="fd-col fd-col-md--12 fd-col-lg-6">
                    <div class="fd-popover" style="width:100%" cdkOverlayOrigin #user_side_overlay="cdkOverlayOrigin" (click)="hide_user_select = !hide_user_select">
                      <div class="fd-popover__control">
                        <div class="fd-select">
                          <div aria-controls="h031XCM509" aria-expanded="false" aria-haspopup="listbox" class="fd-select__control"
                          aria-label="Country" tabindex="0">
                          <span class="fd-select__text-content">{{ selected_user }}</span>
                          <span class="fd-button fd-button--transparent fd-select__button">
                            <i class="sap-icon--slim-arrow-down"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="user_side_overlay"
                      [cdkConnectedOverlayOpen]="!hide_user_select">
                      <ng-container [ngTemplateOutlet]="select_user_overlay" 
                        [ngTemplateOutletContext]="{ $implicit: 'mainSelect' }">
                      </ng-container>
                    </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="fd-col fd-col-lg--6">
                <div class="fd-row fd-form-item">
                  <div class="fd-col fd-col--6">
                    <label class="fd-form-label" for="input-2-country">Start Date:</label>
                  </div>
                  <div class="fd-col fd-col--6">
                    <label class="fd-form-label" for="input-2-country">End Date:</label>
                  </div>
                  <div class="fd-col fd-col-md--12 fd-col-lg--6">
                    <div class="fd-input-group">
                      <input class="fd-input fd-input-group__input" type="date">
                    </div>
                  </div>
                  <div class="fd-col fd-col-md--12 fd-col-lg--6">
                    <div class="fd-input-group">
                      <input class="fd-input fd-input-group__input" type="date">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fd-padding-responsive--sm fd-margin-top-bottom--sm">
      <div class="fd-toolbar fd-toolbar--title" role="toolbar">
        <h4 class="fd-title fd-title--h4 fd-toolbar__title">Database Name ({{ ds_users.length }})</h4>
        <span class="fd-toolbar__spacer"></span>
        <button class="fd-button fd-button--transparent" (click)="newBackup()">New</button>
        <button class="fd-button fd-button--transparent" (click)="clear()">Clear</button>
        <button class="fd-button fd-button--transparent" title="Refresh" (click)="refresh()">
          <i class="sap-icon--refresh"></i>
        </button>
      </div>
      <table class="fd-table">
        <thead class="fd-table__header">
          <tr class="fd-table__row">
            <!-- <th class="fd-table__cell" style="width: 32px;">
              <fdl-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
    
              </fdl-checkbox>
            </th> -->
            <th class="fd-table__cell" scope="col" style="width:30%">Name</th>
            <th class="fd-table__cell" scope="col">Start</th>
            <th class="fd-table__cell" scope="col">End</th>
            <th class="fd-table__cell" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="fd-table__body">
        @for (item of ds_filtered_objects; track $index) {
          <tr class="fd-table__row">
            <!-- <td class="fd-table__cell">
              <fdl-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(item) : null"
                [checked]="selection.isSelected(item)">
              </fdl-checkbox>
            </td> -->
            <td class="fd-table__cell">{{ item['name'] }}</td>
            <td class="fd-table__cell">
              <span class="fd-table__text">{{ item['start'] }}</span>
            </td>
            <td class="fd-table__cell">
              <span class="fd-table__text">{{ item['end'] }}</span>
            </td>
            <td class="fd-table__cell">
              @if (item['status_type'] == 'text') {
              <span class="fd-object-status fd-object-status--negative">
                <i class="fd-object-status__icon sap-icon--message-error" role="presentation"></i>
                <span class="fd-object-status__text">Highlight of Whole Row</span>
              </span>
              }
              @else if (item['status_type'] == 'bar') {
              <div class="fd-progress-indicator fd-progress-indicator--informative" tabindex="-1" role="progressbar">
                <!-- aria-valuemin="20" aria-valuenow="42" aria-valuemax="100" aria-valuetext="42%" aria-label="42%"> -->
                <div class="fd-progress-indicator__container">
                  <div class="fd-progress-indicator__progress-bar" [style.width]="item['width']" [style.min-width]="item['width']"></div>
                  <div class="fd-progress-indicator__remaining">
                    <span class="fd-progress-indicator__label">
                      {{ item['value'] }} of {{ item['max'] }} ({{ item['width']}})
                    </span>
                  </div>
                </div>
              </div>
              }
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #sidePage>
  <div class="progress-container">
    @if (isNewBackup) {
      <div class="content-sticky fd-margin-begin-end--sm" style="background-color: white;">
        @if (isProgress) {
          <div class="fd-container fd-form-layout-grid-container">
            <div class="fd-row">
              <div class="fd-col fd-col-lg--12 fd-col--wrap fd-form-group">
                <div class="fd-row fd-form-item">
                  <div class="fd-col-md--8">
                    <h2 class="fd-title fd-title--h2">In Progress</h2>
                  </div>
                  <div class="fd-col-md--4" style="text-align: right;">
                    <button class="fd-button fd-button--transparent" title="close" (click)="onDecline()">
                      <i class="sap-icon--decline"></i>
                    </button>
                  </div>
                  <div class="fd-col">
                    <div class="progress-wrapper">
                      <svg viewBox="0 0 64 64" class="pie">
                        <circle cx="50%" cy="50%" r="25%"
                          stroke-dashoffset="0" 
                          fill="none" stroke-width="32"
                          [attr.stroke-dasharray]="progressDasharray"
                          stroke="grey">
                        </circle>
                      </svg>
                      <div class="progress-text">{{ progress }}%</div>
                    </div>
                    <div class="progress-bar">
                      <div class="fd-progress-indicator fd-progress-indicator--{{ updateBarColor }}" tabindex="-1" role="progressbar">
                        <div class="fd-progress-indicator__remaining">
                          <span class="fd-progress-indicator__label">Table1 (10)</span>
                        </div>
                        <div class="fd-progress-indicator__container">
                          <div class="fd-progress-indicator__progress-bar" [style.min-width.%]="progress" [style.width]="progress">
                            <span class="fd-progress-indicator__label">{{ progress }}%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        } @else {
          <div class="fd-container fd-form-layout-grid-container">
            <div class="fd-row">
              <div class="fd-col fd-col-lg--12 fd-col--wrap fd-form-group">
                <div class="fd-row fd-form-item">
                  <div class="fd-col-md--8 fd-margin-bottom--sm">
                    <h2 class="fd-title fd-title--h2">Details</h2>
                  </div>
                  <div class="fd-col-md--4 fd-margin-bottom--sm" style="text-align: right;">
                    <button class="fd-button fd-button--transparent" title="close" (click)="onDecline()">
                      <i class="sap-icon--decline"></i>
                    </button>
                  </div>
                  <div class="fd-col">
                    <label class="fd-form-label" for="input-2-country">User:</label>
                  </div>
                  <div class="fd-col fd-col-md--6">
                    <div class="fd-popover" style="width:100%" cdkOverlayOrigin #user_overlay="cdkOverlayOrigin" (click)="hide_user_side_select = !hide_user_side_select">
                      <div class="fd-popover__control">
                        <div class="fd-select">
                          <div aria-controls="h031XCM509" aria-expanded="false" aria-haspopup="listbox" class="fd-select__control"
                            aria-label="Country" tabindex="0">
                            <span class="fd-select__text-content">{{ selected_user }}</span>
                            <span class="fd-button fd-button--transparent fd-select__button">
                              <i class="sap-icon--slim-arrow-down"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="user_overlay"
                        [cdkConnectedOverlayOpen]="!hide_user_side_select">
                        <ng-container [ngTemplateOutlet]="select_user_overlay" 
                          [ngTemplateOutletContext]="{ $implicit: 'sideSelect' }">
                        </ng-container>
                      </ng-template>
                    </div>
                  </div>
                  <div class="fd-col fd-col-md--2">
                    <button class="fd-button fd-button--emphasized" (click)="backup()">Start Backup</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    }
    <div class="fd-padding-responsive--sm fd-margin-top-bottom--sm">
      <div class="fd-toolbar fd-toolbar--title" role="toolbar">
        <h4 class="fd-title fd-title--h4 fd-toolbar__title">Database Name ({{ ds_users.length }})</h4>
      </div>
      <table class="fd-table">
        <thead class="fd-table__header">
          <tr class="fd-table__row">
            <th class="fd-table__cell" scope="col">Name</th>
            <th class="fd-table__cell" scope="col">Start</th>
            <th class="fd-table__cell" scope="col">End</th>
            <th class="fd-table__cell" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="fd-table__body">
          @for (item of [].constructor(50); track $index) {
            <tr class="fd-table__row">
              <td class="fd-table__cell">Middle Name</td>
              <td class="fd-table__cell">Middle Name</td>
              <td class="fd-table__cell">Last Name</td>
              <td class="fd-table__cell">01/26/17</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #select_user_overlay let-action>
  <div aria-hidden="false" class="fd-popover__body fd-popover__body--no-arrow fd-popover__body--dropdown"
    id="h0C6A325b">
    <ul aria-activedescendant="defaultSelectCombobox-currentlyFocusedItem" aria-labelledby="cozySelectLabel"
      class="fd-list fd-list--dropdown" role="listbox">
      @for (item of ds_users; track $index) {
        <li
          id="defaultSelectCombobox-currentlyFocusedItem"
          class="fd-list__item"
          role="option"
          tabindex="0" (click)="on_user_selected(action, item['name'])">
            <span class="fd-list__title">{{ item['name'] }}</span>
        </li>
      }
    </ul>
  </div>
</ng-template>